.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:50%;
    height: 50%;
    background: #b22613;
 
  }
  
  .modal-main {
    position:fixed;
    background-color: #b22613;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
 